* {
  margin: 0;
  padding: 0;
  color: black;
}

h3 {
  font-family: "Amiga Forever", sans-serif;
}

p {
  font-family: "Amiga Forever Pro", sans-serif;
  font-size: small;
}

h3,
p {
  padding: 15px;
}

img {
  align-items: center;
  padding-top: 10px;
}

body {
  height: 100vh;
  background-image: url("../sprites/bg5.png");
  background-size: contain;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  margin: auto;
}

.card-container {
  background-color: transparent;
  width: 260px;
  height: 370px;
  perspective: 1000px;
  margin: 20px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: black 4px solid;
  border-radius: 10px;
  transform: rotateX(0deg);
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  visibility:visible;
  backface-visibility: hidden;
}

.card-front {
  background-image: url("../sprites/bg5.png");
  background-size: contain;
}

.card-back {
  background-color: #73ca75;
  /* background-color: #DFACDE; */
  color: azure;
  transform: rotateY(180deg);
}
