{% extends "base.html" %}
{% block nav_home %}active{% endblock %}
{% block content %}

        <form class="d-none m-auto form-style" action="{{ url_for('add_score') }}" method="POST">
          <div class="mb-3 text-center">
             <label for="name" class="form-label font">PLEASE ENTER YOUR NAME</label>
            <input type="text" oninput="this.value = this.value.toUpperCase()" name="name" class="form-control text-center" id="name" aria-describedby="name">
          </div>
          <div class="mb-3 score-input text-center">
            <label for="score" id="score-label" class="form-label font"></label>
            <input type="hidden" id="score" name="score" value="">
          </div>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
{% endblock %}

{% block kaboomscript %}
<script src="https://kaboomjs.com/lib/0.6.0/kaboom.js"></script>
<script src="{{url_for('static', filename='js/maps.js')}}"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %}