{% extends "base.html" %}
{% block nav_story %}active{% endblock %}
{% block content %}
<header>
  <h1>LIONOIL</h1>

  <p>Dunking on the Ceiling</p>
</header>
<main>
  <div class="wrapper">
    <img src="static/images/Title.png" height="200px" />
  </div>
  <div class="story-page wrapper">
    <div class="story">
      <h3>The story so far...</h3>
      <p>
        Lionel Richtea was happy living his best life - all day and all
        night long.
      </p>
      <p>
        But, say
        <em>what is happening here? Something’s going on that’s not quite
          clear…</em>
      </p>
      <p>
        Lionel is blasted into the underworld of Twisted Disco-Pop where
        some evil puppet-master LIONOIL is forcing Lionel to battle the
        <a href="{{ url_for('cards') }}">bad guys</a> and collect biscuits he needs to
        dunk his way out.
      </p>
      <p>
        Do you have what it takes to guide Lionel across the floors, walls
        and ceiling of the Motown funk dimension?
      </p>
    </div>

    <div class="object-of-game">
      <h3>Object of the game</h3>
      <p>
        Work your way through levels of Twisted Disco-Pop, avoid the bum
        notes, and make sure you have all the biscuits you need to activate
        the "Hello is it Entry you're looking for?"
      </p>
      <img src="static/images/mug.png" height="180px">
      <p>
        Power up by collecting platinum discs that will give you a 'big
        head' allow you to jump higher and further.
      </p>
      <img src="static/images/bob-mardy.png" alt="" height="200px">
      <img src="static/images/disco-inferno.png" alt="" height="200px">
      <img src="static/images/rotten-johnny.png" alt="" height="200px">
      <img src="static/images/shanking-stevens1.png" alt="" height="200px">
      <img src="static/images/the-inhuman-plague.png" alt="" height="200px">
      <img src="static/images/whackem-jackson.png" alt="" height="200px">
      <p>
        Look avoid the bouncing <a href="{{ url_for('cards') }}">bad guys</a>, go for
        the face to take them out!
      </p>
    </div>

    <div class="movement">
      <h3>Movement</h3>
      <p>
        Use cursor keys to move Lionel through TDP. Jump using the space
        bar.
      </p>
      <p>
        Beware of booby trap box they will flip the underworld on its head.
        Your music might get messed up and you could even find your
        directions are reversed.
      </p>
    </div>

    <div class="scoring">
      <h3>Scoring</h3>
      <p>
        The further you get the more you score. Check out our
        <a href="{{ url_for('leaderboard') }}">leaderboard</a> to see where you rank.
      </p>
    </div>
  </div>
</main>
<footer></footer>
{% endblock %}